{% extends 'TMainBundle::base.html.twig' %}

{% block body %}

    {% block header %}
        <div class="row">
            <div class="col-md-12">
                Header
            </div>
        </div>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        <div class="row ">
            <div class="col-md-12 ">
                Footer
            </div>
        </div>
    {% endblock %}

{% endblock %}
