{% extends 'TMainBundle::layout.html.twig' %}

{% block title %}
    {#je recupere le contenu du block parent#}
    {{ parent() }} - Accueil
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Ici le contenu de la page index</p>
        </div>
    </div>
{% endblock %}