{% extends 'TMainBundle::layout.html.twig' %}

{% block title %}
    {#je recupere le contenu du block parent#}
    {{ parent() }} - Accueil
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="jumbotron">
                <h1>Page d'accueil</h1>
            </div>
        </div>
    </div>
{% endblock %}